# Summary Statistics

In [2]:
import numpy as np
import pandas as pd

In [3]:
def percentile_in_list(a, percent):
    a=np.sort(a)
    print("Percentile")
    print("{}% value is {}".format(percent, np.percentile(a, percent)))
    val = len(a[np.where( a <np.percentile(a, percent))])
    print("In the list {}th element is {}".format(percent, a[val]))
    return val

def mean(a):
    return (np.mean(a))
def median(a):
    return (np.median(a))
def trimmed_mean(a,p):
    a=np.sort(a)
    k = int(round(len(a)*(float(p)/100)/2))
    return (np.mean(a[k:len(a)-k]))

def Range(a):
    return (max(a)-min(a))
#m
def variance(a):
    return (np.var(a,ddof=1))

# m-1
def variance_p(a):
    return (np.var(a,ddof=0))

def standard_devaition(a):
    return np.sqrt(variance(a))

def AAD(x):
    return(np.sum(abs(x-mean(x)))/len(x))

def MAD(x):
    return np.median(abs(x-mean(x)))
def MAD2(x):
    return np.median(abs(x-median(x)))

#these functions can give you different values.
#because there are many types of interpolation.
def Q3(x):
    return np.percentile(x, 75)
def Q1(x):
    return np.percentile(x, 25)
def IQR(x):
    return Q3(x)-Q1(x)


def summary(list_of_list):
    data = []
    col = []    
    row ={"MEAN":[], "VAR":[], "VARP":[], "STDEV":[], "AAD":[], "MAD'":[], "MAD":[], 
          "MIN":[], "MAX":[], "R":[], "Q3":[], "Q1":[], "IQR":[]}
    row_func ={"MEAN":mean, "VAR":variance, "VARP":variance_p, "STDEV":standard_devaition, 
               "AAD":AAD, "MAD'":MAD2, "MAD":MAD, "MIN":min, "MAX":max, "R":Range, "Q3":Q3, "Q1":Q1, "IQR":IQR}

    
    for i, li in enumerate(list_of_list) :
        col.append("data"+str(i)) 
        for key, r in row.items():
            r.append(round(row_func[key](li),2))
    for key, value in row.items():
        data.append([key,value])

    return pd.DataFrame.from_items(data,
                      orient='index', columns=col)

# Usage

<img src="images/percentile.png" />

In [4]:
a = np.array([8, 6, 3, 7, 3, 4, 1, 6, 8, 5])
percentile_in_list(a, 80)

Percentile
80% value is 7.2
In the list 80th element is 8

8

<img src="images/mean_median.png"/>

In [5]:
a = np.array([1, 2, 3, 4, 5, 90])
print("mean :" +str(mean(a)))
print("median :" +str(median(a)))
print("trimmed mean :"+str(trimmed_mean(a,40)))

mean :17.5
median :3.5
trimmed mean :3.5

<img src="images/range_variance.png"/>

In [6]:
a = np.array([3,24,30,47,43,7,47,13,44,39])
print("Range : "+ str(Range(a)))
print("Variance : "+ str(variance(a)))
print("Mean : "+ str(mean(a)))
print("STD : "+ str(standard_devaition(a)))

Range : 44
Variance : 289.566666667
Mean : 29.7
STD : 17.0166585047

<img src="images/summary.png"/>

In [7]:
x = np.array([2,5,-1,3,4,5,0,2])
y = np.array([2,5,-1,3,50,5,0,2])

#Q3, Q1 IQR will be different. ignore them.
summary([x,y])

       data0   data1
MEAN    2.50    8.25
VAR     4.86  289.07
VARP    4.25  252.94
STDEV   2.20   17.00
AAD     1.75   10.44
MAD'    2.00    2.50
MAD     2.00    6.25
MIN    -1.00   -1.00
MAX     5.00   50.00
R       6.00   51.00
Q3      4.25    5.00
Q1      1.50    1.50
IQR     2.75    3.50

# Exercise Lecture 4

<img src="images/summary_exercise.png" />

In [8]:
x = np.array([17,5,3,9,49,53,11])
percentile_in_list(x,70)
print("Range : "+str(Range(x)))
print("Median :"+str(median(x)))
print("MEan :"+str(mean(x)))
print("Variance :"+str(variance(x)))


# I think table's AAD is wrong
print("AAD : "+str(AAD(x)))

Percentile
70% value is 23.399999999999977
In the list 70th element is 49
Range : 50
Median :11.0
MEan :21.0
Variance :441.333333333
AAD : 17.1428571429

In [9]:
x = np.array([17,5,3,9,49,53,11])
summary([x])

        data0
MEAN    21.00
VAR    441.33
VARP   378.29
STDEV   21.01
AAD     17.14
MAD'     6.00
MAD     16.00
MIN      3.00
MAX     53.00
R       50.00
Q3      33.00
Q1       7.00
IQR     26.00